﻿<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/ui/css/foundation.css">
    <link rel="stylesheet" href="~/ui/css/foundation-icons.css">
    <link rel="stylesheet" href="~/ui/css/app.css">
</head>
<body>
    
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><b>@Html.ActionLink("Ecom", "Index", "Home")</b></li>
                    <li>@Html.ActionLink("Produkter", "Index", "Products")</li>
                </ul>
            </div>
            
            
            <div class="top-bar-right">
                <ul class="menu">
                    <li><i class="fi-shopping-cart" style="font-size:20px;"></i></li>
                    <li>@{Html.RenderAction("_Minicart", "Cart"); }</li>
                </ul>
            </div>
        </div>
        @RenderBody()
    

    <script src="~/ui/js/vendor/jquery.js"></script>
    <script src="~/ui/js/vendor/what-input.js"></script>
    <script src="~/ui/js/vendor/foundation.js"></script>
    <script src="~/ui/js/app.js"></script>
</body>
</html>
