﻿@model EcomPrototype.ViewModels.StartPageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-container">
    <h3>Top Notch</h3>
    <div class="cell large-9">
        @{Html.RenderPartial("~/Views/Products/_ProductList.cshtml", Model.TopNotchProducts);}
    </div>
</div>
