﻿@model List<EcomPrototype.Models.Category>

<ul class="menu vertical">
    <li>@Html.ActionLink("Alla", "Index")</li>
    @foreach (var category in Model)
    {
    <li>@Html.ActionLink(category.Name,"Category",new { id = category.Id })</li>
    }

</ul>