﻿@model EcomPrototype.ViewModels.ProductListViewModel


<div class="grid-x grid-margin-x">
    <div class="cell large-2">@{Html.RenderAction("Categories", Model.Categories);}</div>
    <div class="cell large-9">
        @{Html.RenderPartial("_ProductList", Model.Products);}
    </div>
</div>



