﻿@model EcomPrototype.Models.Product

<h2>@Model.Name</h2>
<i>Art nr: @Model.ArticleNumber</i>
<div><img src="@Url.Content(Model.Image)" /></div>
<div>@Model.Price kr</div>
@using (Html.BeginForm("Add", "Cart", new { articleNumber = Model.ArticleNumber }))
{
    <div style="width:100%;clear:both;">
        <input type="text" id="quantity" name="quantity" value="1" style="float:left;width:35px;" /><button class="button" type="submit" style="float:left;margin-left:20px;">Lägg i kundvagn</button>
    </div>
}