﻿<div class="grid-x grid-margin-x" data-equalizer>

    @foreach (var product in Model)
    {

    <div class="cell large-3 small-8 product">
        <a href="/Products/Details/@product.ArticleNumber">
            <h3>@product.Name</h3>
            <div>
                <div data-equalizer-watch>
                    <img src="@product.Image" />
                </div>
            </div>
            <div class="price">@product.Price kr</div>
        </a>
        
        @using (Html.BeginForm("Add","Cart",new { articleNumber = product.ArticleNumber }))
        {
        <div style="width:100%;clear:both;">
            <input type="text" id="quantity" name="quantity" value="1" style="float:left;width:35px;" /><button class="button" type="submit" style="float:left;margin-left:20px;">Lägg i kundvagn</button>
        </div>
        }

    </div>

        }


</div>
