﻿@model EcomPrototype.ViewModels.CartViewModel

<span class="mini-cart">
    <a href="/Cart">
        @if (Model.Items.Count() == 0)
        {
            <span>Varukorgen är tom</span>
        }
        else
        { <span>@Model.TotalItems artiklar | @Model.GrandTotal kr</span>}
    </a>
</span>

