﻿@model EcomPrototype.Models.Customer

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid-container">
    <h2>Kassa</h2>
        @using (Html.BeginForm("Confirmation", "Cart"))
        {
            @Html.EditorForModel()
            <input type="submit" class="button" value="Bekräfta" />
        }

</div>
