﻿@model EcomPrototype.ViewModels.ConfirmationViewModel
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid-container">
    <h2>Tack för din order!</h2>
    Ordernummer för din order är <b>@Model.OrderId</b>
    <br/><br/>
    <p>For the masters:</p>
    <pre>@Model.OrderJson</pre>

</div>
