﻿@model EcomPrototype.Models.Cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="grid-container">
    <h2>Kundvagn</h2>

    @if (Model.Items.Count > 0)
    {
        <a href="/Cart/checkout" class="button">Gå till kassan</a>

        <table>

            <thead>
            <th>Art.nr</th>
            <th>Namn</th>
            <th>Pris</th>
            <th>Antal</th>
            </thead>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><a href="/Products/Details/@item.ArticleNumber">@item.ArticleNumber</a></td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        @using (Html.BeginForm("Update", "Cart", new { articleNumber = item.ArticleNumber }))
                        {
                            <span>
                                <input type="text" id="quantity" name="quantity" style="width:60px; float:left;" value="@item.Quantity" />
                                <input type="submit" class="button" style="float:left; margin-left:20px;" value="Uppdatera" />
                            </span>
                        }
                        @using (Html.BeginForm("Remove", "Cart", new { articleNumber = item.ArticleNumber }))
                        {
                            <span>
                                <input type="submit" class="button" style="float:left; margin-left:20px;1" value="Ta bort" />
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <i>Varukorgen är tom</i>
    }


</div>
