﻿<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/ui/css/foundation.css">
    <link rel="stylesheet" href="~/ui/css/app.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/ui/js/vendor/jquery.js"></script>
    <script src="~/ui/js/vendor/what-input.js"></script>
    <script src="~/ui/js/vendor/foundation.js"></script>
    <script src="~/ui/js/app.js"></script>
</body>
</html>
