﻿
@{
    ViewBag.Title = "Import";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Import</h2>

@using (Html.BeginForm("ExecuteImport","Products",FormMethod.Post))
{
    <div class="button-group">
        <input type="submit" value="Import" class="button" />
    </div>
}